:root
{
    --c-PureWhite: white;
    --c-Cream: #F2EAE2;
    --c-AurometalSaurus: #6C7289;
    --c-DeepAquamarine: #3D8168;
    --c-DeepAquamarineHover: #1A4032;
    --c-Gunmetal: #1C232B;
}

html {
    font-size: 14px;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--c-Cream);
    padding: 2em 3.7%;
    min-height: 100vh;
}
* {
    box-sizing: border-box;
}

* :first-child {
    margin-top: 0;
}

* :last-child 
{
    margin-bottom: 0;
}



/* Typography */

.c {
    font-weight: 500;
    color: var(--c-AurometalSaurus);
    line-height: 1.6;
    font-family: "Montserrat", sans-serif;
}

.c__overline 
{
    font-size: .85rem;
    letter-spacing: .4em;
    text-transform: uppercase;
}

.c h1 
{
    font-size: 2.28rem;
    line-height: 1;
    font-family: "Fraunces", serif;
}

.c__price-original 
{
    font-size: .92rem;
    text-decoration: line-through;
}

.c__btn
{
    font-weight: bold;
}



/* Layout */

.c {
    max-width: 400px;
    box-shadow: 0px 4px 4px hsla(0,0%,0%,25%);
}

.c__img {
    display: block;
    width: 100%;
    object-fit: cover;
}


.c__img--mobile {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    max-width: 686px;
    max-height: 300px;
}

.c__img--desktop 
{
    display: none;
}


.c__content {
    background-color: var(--c-PureWhite);
    padding: 1.7em;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.c__title {
    color: var(--c-Gunmetal);
}


.c__price-container {
    display: flex;
    align-items: center;
    gap: .71em;
}

.c__price {
    margin-bottom: 0;
    color: var(--c-DeepAquamarine);
}

.c__price-original {
    margin-top: 0;
}


.c__btn 
{
    background-color: var(--c-DeepAquamarine);
    border:none;
    border-radius: 8px;
    width: 100%;
    color: var(--c-PureWhite);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .85em;
    padding: 1.07em 0;
    margin-top: 1.42em;
}


@media (min-width: 686px)
{
    .c {
        max-width: 600px;
        display: flex;
        align-items: stretch;
    }

    .c__img, .c__content {
        width: 50%;
    }

    .c__img--desktop {
        display: block;
        border-top-left-radius: 12px;
        border-bottom-left-radius: 12px;
    }

    .c__img--mobile 
    {
        display: none;
    }

    .c__content {
        border-radius: 0;
        border-top-right-radius: 12px;
        border-bottom-right-radius: 12px;
        padding: 2.28em;
    }
}